<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdutcm.tcms.ajy.mapper.DictMapper">
	<resultMap id="DictResultMap" type="com.cdutcm.tcms.ajy.model.Dict">
	<id column="id" property="id" jdbcType="BIGINT" />
	<result column="num" property="num"  jdbcType="INTEGER"/>
	<result column="pid" property="pid"  jdbcType="BIGINT"/>
	<result column="name" property="name"  jdbcType="VARCHAR"/>
	<result column="tips" property="tips"  jdbcType="VARCHAR"/>
	</resultMap>
	<resultMap type="com.cdutcm.tcms.ajy.model.Dict" id="AllResultMap">
	<id column="id" property="id" jdbcType="BIGINT" />
	<result column="num" property="num"  jdbcType="INTEGER"/>
	<result column="pid" property="pid"  jdbcType="BIGINT"/>
	<result column="name" property="name"  jdbcType="VARCHAR"/>
	<result column="tips" property="tips"  jdbcType="VARCHAR"/>
	<collection property="dictItem" column="id" select="selectByPid"></collection>
	</resultMap>
	
	 <sql id="Dict_Column_List" >
    id, num, pid, name, tips
    </sql>
    
    <select id="selectByPrimaryKey" resultMap="DictResultMap" parameterType="java.lang.Long" >
    select *
    from sys_dict
    where id = #{id,jdbcType=BIGINT}
  </select>
  <!--查询是否有重复的名称  -->
  <select id="selectForCheck" resultMap="DictResultMap">
    select *  from sys_dict where 
    name=#{name,jdbcType=VARCHAR}
  </select>
  
  
  <!--查看字典详情 -->
  <select id="selectByPid" resultMap="DictResultMap" parameterType="java.lang.Long">
  select * from sys_dict where pid=#{pid,jdbcType=BIGINT}
  </select>
  
  <select id="listPageDict" resultMap="DictResultMap" parameterType="java.lang.Long">
  select * from sys_dict 
  where pid=0
  </select>
  
  <select id="listallDict" resultMap="AllResultMap" parameterType="java.lang.Long">
  select * from sys_dict 
  where pid=0
  </select>
  
  <insert  id="insert" parameterType="com.cdutcm.tcms.ajy.model.Dict">
  insert into sys_dict(id, num, pid, name, tips)
  values(#{id,jdbcType=BIGINT},#{num,jdbcType=INTEGER},#{pid,jdbcType=BIGINT},#{name,jdbcType=VARCHAR},
         #{tips,jdbcType=VARCHAR})
  </insert>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
  delete from sys_dict
  where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="updateByPrimaryKey" parameterType="com.cdutcm.tcms.ajy.model.Dict">
  update sys_dict
  set id=#{id,jdbcType=BIGINT},
      num=#{num,jdbcType=INTEGER},
      pid=#{pid,jdbcType=BIGINT},
      name=#{name,jdbcType=VARCHAR},
      tips=#{tips,jdbcType=VARCHAR}
  where id=#{id,jdbcType=BIGINT}
  </update> 
  <update id="editname" parameterType="com.cdutcm.tcms.ajy.model.Dict">
  update sys_dict
  set name=#{name,jdbcType=VARCHAR}
  where id=#{id,jdbcType=BIGINT}
  </update>
</mapper>