<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdutcm.tcms.biz.mapper.BaseRecipelMapper" >
  <resultMap id="BaseResultMap" type="com.cdutcm.tcms.biz.model.BaseRecipel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="ctype" property="ctype" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="VARCHAR" />
    <result column="fs_code" property="fsCode" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="RecipelAndRecipelItemResultMap" type="com.cdutcm.tcms.biz.model.BaseRecipel" >
    <id column="aid" property="id" jdbcType="BIGINT" />
    <result column="aname" property="name" jdbcType="VARCHAR" />
    <result column="actype" property="ctype" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="VARCHAR" />
    <result column="fs_code" property="fsCode" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <collection property="baseRecipelItem" column="recipel_id" ofType="com.cdutcm.tcms.biz.model.BaseRecipelItem">
           <id column="bid" property="id" jdbcType="BIGINT" />  
           <result column="recipel_id" property="recipelId" jdbcType="BIGINT" />
		    <result column="bname" property="name" jdbcType="VARCHAR" />
		    <result column="bctype" property="ctype" jdbcType="VARCHAR" />
		    <result column="m_order" property="mOrder" jdbcType="INTEGER" />
		    <result column="time" property="time" jdbcType="VARCHAR" />
		    <result column="lastupdate" property="lastupdate" jdbcType="TIMESTAMP" />
		    <result column="zz_method" property="zzMethod" jdbcType="VARCHAR" />
		    <result column="freq" property="freq" jdbcType="VARCHAR" />
		    <result column="strength" property="strength" jdbcType="VARCHAR" />
		    <result column="bx" property="bx" jdbcType="VARCHAR" />
		    <result column="jd" property="jd" jdbcType="VARCHAR" />
		    <result column="sd" property="sd" jdbcType="VARCHAR" />
		    <result column="jl" property="jl" jdbcType="VARCHAR" />
		    <result column="type" property="type" jdbcType="VARCHAR" />
		    <result column="gj" property="gj" jdbcType="VARCHAR" />
		    <result column="other_gf" property="otherGf" jdbcType="VARCHAR" />
		    <result column="cxxh" property="cxxh" jdbcType="VARCHAR" />
		    <result column="jz" property="jz" jdbcType="VARCHAR" />
		    <result column="power" property="power" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, ctype, type_id, fs_code, version, description
  </sql>
  
    <select id="listPageBaseRecipel" resultMap="BaseResultMap" parameterType="com.cdutcm.tcms.biz.model.BaseRecipel" >
  	select * from base_recipel
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from base_recipel
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectBySelective" resultMap="BaseResultMap" parameterType="com.cdutcm.tcms.biz.model.BaseRecipel" >
    select 
    <include refid="Base_Column_List" />
    from base_recipel
    where name = #{name,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from base_recipel
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdutcm.tcms.biz.model.BaseRecipel" >
    insert into base_recipel (id, name, ctype, 
      type_id, fs_code, version, 
      description)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{ctype,jdbcType=VARCHAR}, 
      #{typeId,jdbcType=VARCHAR}, #{fsCode,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cdutcm.tcms.biz.model.BaseRecipel" >
    insert into base_recipel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="ctype != null" >
        ctype,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="fsCode != null" >
        fs_code,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="fsCode != null" >
        #{fsCode,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdutcm.tcms.biz.model.BaseRecipel" >
    update base_recipel
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ctype != null" >
        ctype = #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="fsCode != null" >
        fs_code = #{fsCode,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdutcm.tcms.biz.model.BaseRecipel" >
    update base_recipel
    set name = #{name,jdbcType=VARCHAR},
     	 ctype = #{ctype,jdbcType=VARCHAR},
     	 type_id = #{typeId,jdbcType=VARCHAR},
     	 fs_code = #{fsCode,jdbcType=VARCHAR},
     	 version = #{version,jdbcType=VARCHAR},
     	 description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
    <!-- 分页查询所有 -->
  <select id="listPagefindBaseRecipelByType" parameterType="com.cdutcm.tcms.biz.model.BaseRecipel" resultMap="RecipelAndRecipelItemResultMap">
  	select a.id as aid,a.name as aname,a.type_id,a.fs_code,a.version,a.description,a.ctype as actype,
  	      b.id as bid,b.name as bname, b.recipel_id, b.ctype as bctype, b.m_order, b.time, b.lastupdate, b.zz_method, b.freq, b.strength, 
           b.bx, b.jd, b.sd, b.jl, b.type, b.gj, b.other_gf, b.cxxh, b.jz, b.power 	
		   from base_recipel a, base_recipel_item b where a.id=b.recipel_id
	       <if test="ctype != null" >
	       and  a.ctype = #{ctype,jdbcType=VARCHAR}
	       </if>
  </select>
  <!-- 条件查询（ctype.typeId） -->
  <select id="findBaseRecipel"  parameterType="com.cdutcm.tcms.biz.model.BaseRecipel"  resultMap="BaseResultMap">
     select * from base_recipel where 1=1 
      <if test="ctype != null" >
	       and  ctype = #{ctype,jdbcType=VARCHAR}
	  </if>
	  <if test="typeId != null" >
	       and  type_id = #{typeId,jdbcType=VARCHAR}
	  </if>
  </select>
  
   <!-- 根据id查询 -->
  <select id="listPagefindBaseRecipelById" parameterType="com.cdutcm.tcms.biz.model.BaseRecipel" resultMap="RecipelAndRecipelItemResultMap">
  	select a.id as aid,a.name as aname,a.type_id,a.fs_code,a.version,a.description,a.ctype as actype,
  	      b.id as bid,b.name as bname, b.recipel_id, b.ctype as bctype, b.m_order, b.time, b.lastupdate, b.zz_method, b.freq, b.strength, 
           b.bx, b.jd, b.sd, b.jl, b.type, b.gj, b.other_gf, b.cxxh, b.jz, b.power 	
		   from base_recipel a, base_recipel_item b where a.id=b.recipel_id
		   and a.id =#{id}
  </select>
   
  
</mapper>