<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdutcm.tcms.biz.mapper.IllnessHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.cdutcm.tcms.biz.model.IllnessHistory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="chief_complaint" property="chiefComplaint" jdbcType="VARCHAR" />
    <result column="present_illness" property="presentIllness" jdbcType="VARCHAR" />
    <result column="passed_illness" property="passedIllness" jdbcType="VARCHAR" />
    <result column="personal_illness" property="personalIllness" jdbcType="VARCHAR" />
    <result column="marriage_history" property="marriageHistory" jdbcType="VARCHAR" />
    <result column="allergic_history" property="allergicHistory" jdbcType="VARCHAR" />
    <result column="family_history" property="familyHistory" jdbcType="VARCHAR" />
    <result column="menstruationHistory" property="menstruationHistory" jdbcType="VARCHAR" />
    <result column="tz" property="tz" jdbcType="VARCHAR" />
    <result column="tongue" property="tongue" jdbcType="VARCHAR" />
    <result column="moss" property="moss" jdbcType="VARCHAR" />
    <result column="pulse" property="pulse" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, chief_complaint, present_illness, passed_illness, personal_illness, marriage_history, 
    allergic_history, family_history,menstruationHistory,tz,tongue,moss,pulse
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from illness_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from illness_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cdutcm.tcms.biz.model.IllnessHistory" >
    insert into illness_history (id, chief_complaint, present_illness, 
      passed_illness, personal_illness, marriage_history, 
      allergic_history, family_history,menstruationHistory,tz,tongue,moss,pulse)
    values (#{id,jdbcType=BIGINT}, #{chiefComplaint,jdbcType=VARCHAR}, #{presentIllness,jdbcType=VARCHAR}, 
      #{passedIllness,jdbcType=VARCHAR}, #{personalIllness,jdbcType=VARCHAR}, #{marriageHistory,jdbcType=VARCHAR}, 
      #{allergicHistory,jdbcType=VARCHAR}, #{familyHistory,jdbcType=VARCHAR}, #{menstruationHistory,jdbcType=VARCHAR},#{tz,jdbcType=VARCHAR},#{tongue,jdbcType=VARCHAR},#{moss,jdbcType=VARCHAR},#{pulse,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cdutcm.tcms.biz.model.IllnessHistory" >
    insert into illness_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="chiefComplaint != null" >
        chief_complaint,
      </if>
      <if test="presentIllness != null" >
        present_illness,
      </if>
      <if test="passedIllness != null" >
        passed_illness,
      </if>
      <if test="personalIllness != null" >
        personal_illness,
      </if>
      <if test="marriageHistory != null" >
        marriage_history,
      </if>
      <if test="allergicHistory != null" >
        allergic_history,
      </if>
      <if test="familyHistory != null" >
        family_history,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="chiefComplaint != null" >
        #{chiefComplaint,jdbcType=VARCHAR},
      </if>
      <if test="presentIllness != null" >
        #{presentIllness,jdbcType=VARCHAR},
      </if>
      <if test="passedIllness != null" >
        #{passedIllness,jdbcType=VARCHAR},
      </if>
      <if test="personalIllness != null" >
        #{personalIllness,jdbcType=VARCHAR},
      </if>
      <if test="marriageHistory != null" >
        #{marriageHistory,jdbcType=VARCHAR},
      </if>
      <if test="allergicHistory != null" >
        #{allergicHistory,jdbcType=VARCHAR},
      </if>
      <if test="familyHistory != null" >
        #{familyHistory,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdutcm.tcms.biz.model.IllnessHistory" >
    update illness_history
    <set >
      <if test="chiefComplaint != null" >
        chief_complaint = #{chiefComplaint,jdbcType=VARCHAR},
      </if>
      <if test="presentIllness != null" >
        present_illness = #{presentIllness,jdbcType=VARCHAR},
      </if>
      <if test="passedIllness != null" >
        passed_illness = #{passedIllness,jdbcType=VARCHAR},
      </if>
      <if test="personalIllness != null" >
        personal_illness = #{personalIllness,jdbcType=VARCHAR},
      </if>
      <if test="marriageHistory != null" >
        marriage_history = #{marriageHistory,jdbcType=VARCHAR},
      </if>
      <if test="allergicHistory != null" >
        allergic_history = #{allergicHistory,jdbcType=VARCHAR},
      </if>
      <if test="familyHistory != null" >
        family_history = #{familyHistory,jdbcType=VARCHAR},
      </if>
      
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdutcm.tcms.biz.model.IllnessHistory" >
    update illness_history
    set chief_complaint = #{chiefComplaint,jdbcType=VARCHAR},
      present_illness = #{presentIllness,jdbcType=VARCHAR},
      passed_illness = #{passedIllness,jdbcType=VARCHAR},
      personal_illness = #{personalIllness,jdbcType=VARCHAR},
      marriage_history = #{marriageHistory,jdbcType=VARCHAR},
      allergic_history = #{allergicHistory,jdbcType=VARCHAR},
      family_history = #{familyHistory,jdbcType=VARCHAR},
      menstruationHistory = #{menstruationHistory,jdbcType=VARCHAR},
      tz=#{tz,jdbcType=VARCHAR},
      tongue=#{tongue,jdbcType=VARCHAR},
      moss=#{moss,jdbcType=VARCHAR},
      pulse=#{pulse,jdbcType=VARCHAR}
      where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>