<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdutcm.tcms.biz.mapper.RecipelMapper" >
  <resultMap id="BaseResultMap" type="com.cdutcm.tcms.biz.model.Recipel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="emrId" property="emrId" jdbcType="BIGINT" /> 
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="lastupdate" property="lastupdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="RecipelAndRecipelItemResultMap" type="com.cdutcm.tcms.biz.model.Recipel" >
    <id column="aid" property="id" jdbcType="BIGINT" />
    <result column="aname" property="name" jdbcType="VARCHAR" />
    <result column="emrId" property="emrId" jdbcType="BIGINT" /> 
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="alastupdate" property="lastupdate" jdbcType="TIMESTAMP" />
    <collection property="recipelItem" column="recipel_id" ofType="com.cdutcm.tcms.biz.model.RecipelItem">
           <id column="bid" property="id" jdbcType="BIGINT" />  
           <result column="recipel_id" property="recipelId" jdbcType="BIGINT" />
		    <result column="bname" property="name" jdbcType="VARCHAR" />
		    <result column="bctype" property="ctype" jdbcType="VARCHAR" />
		    <result column="m_order" property="mOrder" jdbcType="INTEGER" />
		    <result column="time" property="time" jdbcType="VARCHAR" />
		    <result column="blastupdate" property="lastupdate" jdbcType="TIMESTAMP" />
		    <result column="zz_method" property="zzMethod" jdbcType="VARCHAR" />
		    <result column="freq" property="freq" jdbcType="VARCHAR" />
		    <result column="strength" property="strength" jdbcType="VARCHAR" />
		    <result column="bx" property="bx" jdbcType="VARCHAR" />
		    <result column="jd" property="jd" jdbcType="VARCHAR" />
		    <result column="sd" property="sd" jdbcType="VARCHAR" />
		    <result column="jl" property="jl" jdbcType="VARCHAR" />
		    <result column="type" property="type" jdbcType="VARCHAR" />
		    <result column="gj" property="gj" jdbcType="VARCHAR" />
		    <result column="other_gf" property="otherGf" jdbcType="VARCHAR" />
		    <result column="cxxh" property="cxxh" jdbcType="VARCHAR" />
		    <result column="jz" property="jz" jdbcType="VARCHAR" />
		    <result column="power" property="power" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, status, description, lastupdate,emrId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from recipel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from recipel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cdutcm.tcms.biz.model.Recipel" >
    insert into recipel (id, name, status, 
      description, lastupdate,emrId)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{lastupdate,jdbcType=TIMESTAMP},#{emrId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.cdutcm.tcms.biz.model.Recipel" >
    insert into recipel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="lastupdate != null" >
        lastupdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="emrId != null" >
        emrId = #{emrId,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="lastupdate != null" >
        #{lastupdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdutcm.tcms.biz.model.Recipel" >
    update recipel
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="emrId != null" >
        emrId = #{emrId,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="lastupdate != null" >
        lastupdate = #{lastupdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdutcm.tcms.biz.model.Recipel" >
    update recipel
    set name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      emrId = #{emrId,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      lastupdate = #{lastupdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
     <!-- 根据id查询 -->
  <select id="listPagefindRecipelById" parameterType="com.cdutcm.tcms.biz.model.Recipel" resultMap="RecipelAndRecipelItemResultMap">
  	select a.id as aid,a.name as aname,a.status,a.description,a.lastupdate as alastupdate,a.emrId,
  	      b.id as bid,b.name as bname, b.recipel_id, b.ctype as bctype, b.m_order, b.time, b.lastupdate as blastupdate, b.zz_method, b.freq, b.strength, 
           b.bx, b.jd, b.sd, b.jl, b.type, b.gj, b.other_gf, b.cxxh, b.jz, b.power 	
		   from recipel a, recipel_item b where a.id=b.recipel_id  
		  <if test="emrId != null and emrId != 0" >
	         and a.emrId =#{emrId}
	      </if>
	      <if test="id != null  and id != 0" >
	         and a.id = #{id}
	      </if>
  </select>
  <!-- 根据id删除处方信息 -->
  <delete id ="delRecipelAndRecipelItem" parameterType="java.lang.Long" >
    delete from  recipel where  id = #{id,jdbcType=BIGINT};
    delete from  recipel_item where recipel_id = #{id,jdbcType=BIGINT}
  </delete>
</mapper>