<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdutcm.tcms.biz.mapper.XwMapper" >
  <resultMap id="BaseResultMap" type="com.cdutcm.tcms.biz.model.Xw" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, pinyin
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xw
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xw
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cdutcm.tcms.biz.model.Xw" >
    insert into xw (id, name, pinyin
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pinyin,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdutcm.tcms.biz.model.Xw" >
    insert into xw
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pinyin != null" >
        pinyin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdutcm.tcms.biz.model.Xw" >
    update xw
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdutcm.tcms.biz.model.Xw" >
    update xw
    set name = #{name,jdbcType=VARCHAR},
      pinyin = #{pinyin,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 根据名称或者拼音查询穴位 -->
  <select id="findXwByNameOrPinYin" parameterType="com.cdutcm.tcms.biz.model.Xw" resultMap="BaseResultMap">
  	 select * from xw where 1=1
  	 <if test="pinyin !=null and pinyin !='' or name !=null and name !=''">
		and ( pinyin like '%${pinyin}%' or name like '%${name}%')
	 </if>
	 order by length(name) asc
  </select>
</mapper>