<meta charset="utf-8">
 <div class="top-itemA">
            <div class="top-itemA-item">经络报告</div>
              <div class="top-itemA-item">
			<select>
				 <option value ="jlbg">经络报告</option>
  				 <option value ="jytl">建议调理</option>
 				 <option value="ckxq">查看详情</option>
			</select>
			</div>  
            <!--  <button class="btn btn-primary" onclick="printReport('${report.id}')">打印检测报告</button> -->
         </div>
         <div class="top-right-itemB" style="height:300px;overflow:auto">
          <div class="top-right-itemB-right">
         
           <div class="container">
           
		    <div class="wave"> <div class="inputScore" style="margin-left:55px">${report.healScore}%</div></div>
		   </div>
		   <div id="AnalyseText" >健康分析</div>
		   
          </div>
          <div class="top-right-itemB-left">
             <div class="top-right-itemB-left-top">
               <div id="time">
              ${report.gmtCreate,dateFormat='yyyy-MM-dd'}
               </div>
               <div id="interval">
                体质：${report.tzbs}
               </div>
               <div>
                体质特征：${report.tztz}
               </div>
               <div id="interval">
                经络问题：${report.jl}
               </div>
                <div>
              经络症状：${report.jlzz}
               </div>
                   <div>
              相关疾病：${report.xgjb}
               </div>
               
                 <div>
       		    【饮食建议】<br>
      	  食&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;物 ：     ${report.sw}<br>
  	    食药两用：   ${report.syly}
               </div>
             
                  <div>
       		    【推拿治疗建议】<br>
      	推拿治疗操作频度：     ${report.tnzlczpd}<br>
  	 推拿治疗操作内容： ${report.tnzlcznr}
               </div>
               
             </div>
              <div class="top-right-itemB-left-bottom">
                <div class="top-right-itemB-left-bottom-item">
                 <!--   <img src="img/body_01.png" height="140"> -->
                </div>
                <div class="top-right-itemB-left-bottom-item">
                <!--  <img src="img/body_02.png" height="140"> -->
                </div>
              </div>
          </div>
         </div>
       <style>
       
       </style>