<!-- 顶部内容-->
<header class="app-header">
    <!--  这里可以放logo -->
    <a class="app-header__logo"></a>
    <!-- 折叠按钮-->
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- 顶部右侧内容-->
    <a class="app-nav">
       <div class="app-nav-title"><h1>中医经络检测仪-检测系统</h1></div>
    </a>
    <ul class="app-nav">
        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="iconfont icon-home"></i></a>
         <ul class="dropdown-menu">
            <li>
                <a href="${request.contextPath}/logout">退出登录</a></li>
            </ul>
        </li>
    </ul>
</header>