<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/main.css">
     <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/menu.css">
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/css/iconfont.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- <body class="app sidebar-mini rtl">
	顶部栏
	@{ include("../ajy/header.html")
        			     @{ 
        			     @} 
        		    @}
左边菜单栏
	@{ include("../ajy/sidebar.html")
        			     @{ 
        			     @} 
        		    @}

中间部分主要内容 -->
<main class="app-content" id="app-content" style="font-size:18px">
   <div class="container">
	<div class="row clearfix">
		<div class="col-md-6 col-md-offset-3 column">
			 <form id="defaultForm">
				<div class="form-group">
					 <label for="form-label">姓名：</label>
					 <select class="form-control" name="familyMemberId" id="name">
                                        <option value='${user.id}'>${user.username}</option>
                                        @ for(data in datas){
                                        <option value='${data.id}'>${data.username}</option>
                                        @}
                                    </select>
				 </div>
				 <div class="form-group">
                            <label class="control-label">检测结果：</label>
                                 <input type="text" class="form-control" id="result"name="detectionResult" id="detectionResult" />
                            </div>
                            <div class="form-group">
                             <label class="control-label">心率：</label>
                              <input type="text" class="form-control" id="xl" name="xl"  />
                            </div>
                            <div class="form-group">
                                <label class="control-label">体温：</label>    
                                <input type="text" class="form-control" name="tw" id="tw" />                            
                            </div>
                            <div class="form-group">
                                <label class="control-label">体脂百分比：</label>
                                <input type="text" class="form-control" name="tzbfb" id="tzbfb" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">睡眠时间：</label>
                                <input type="text" class="form-control" name="sleepTime" id="sleepTime" />
                            </div>
                            <div style="text-align:center;margin-bottom:10px">
                           <!--  <button type="button" class="btn btn-success" onclick="jcstart()" > 开始检测</button>
                            <button type="button" class="btn btn-danger" onclick="jcstop()"> 停止检测</button> -->
                            </div>
				 <div style="text-align:center">
				  <button type="button" class="btn btn-success" onclick="jcstart()" style="font-size:15px"> 开始检测</button>
				   <button type="submit" class="btn btn-primary">提交报告</button> 
				 </div>
			</form>
		</div>
	</div>
</div>

<div id="bg"></div>
<div id="show">
	<h3 id="jctips">检测中...</h3>
	 <div style="text-align:center;margin-top:10px">
	<button onclick="canceljc()" class="btn btn-primary">取消检测</button>
	</div>
</div>
</main>
<style>

#bg{ 
	display: none; 
	position: absolute; 
	top: 0%; 
	left: 0%; 
	width: 100%; 
	height: 100%; 
	background-color: black; 
	z-index:1001; 
	-moz-opacity: 0.3; 
	opacity:.30; 
	filter: alpha(opacity=30);
}
 
#show{ 
	display: none; 
	position: absolute; 
	top: 25%; 
	left: 32%; 
	width: 33%; 
	height: auto; 
	padding: 8px;
	border: 8px solid #E8E9F7; 
	background-color: white; 
	z-index:1002; 
	overflow: auto;
}

</style>
<!-- Essential javascripts for application to work-->
<script src="${request.contextPath}/js/jquery-3.2.1.min.js"></script>
<script src="${request.contextPath}/js/popper.min.js"></script>
<script src="${request.contextPath}/bootstrap/js/bootstrap.js"></script>
<script src="${request.contextPath}/js/main.js"></script>
<script src="${request.contextPath}/js/dayin.js"></script>
<script src="${request.contextPath}/js/plugins/pace.min.js"></script>
<script src="${request.contextPath}/js/jquery.validate.min.js"></script>
<script src="${request.contextPath}/js/message_zh.js"></script>
<script src="${request.contextPath}/js/circleChart.min.js"></script>
<script type="text/javascript">
var contextPath = '${request.contextPath}';
var postUrl = "${request.contextPath}/record/addRecord";

/* function jc() { 
		document.getElementById("bg").style.display ="block";
		document.getElementById("show").style.display ="block";
		jcstart();
		setTimeout("t1()",6000);			       
} */
 	function t1(){
 		$("#jctips").text("检测完成！");
 		setTimeout("hideDiv()",1000);
 		jcstop();
 	}
 
 
function hideDiv(){
	document.getElementById("bg").style.display ="none";
	document.getElementById("show").style.display ="none";	
	setTimeout("t1()",1000);
}
function canceljc(){
	document.getElementById("bg").style.display ="none";
	document.getElementById("show").style.display ="none";	
	var id=$("#name").val();
	  $.ajax({
	  type: "POST",
      url: "${request.contextPath}/record/jcStop",
      data:id,
        success: function(data) {
     		
        }
        });
}

function jcstart(){
	document.getElementById("bg").style.display ="block";
	document.getElementById("show").style.display ="block";
	setTimeout("t1()",60000);
	var id=$("#name").val();
	  $.ajax({
	  type: "POST",
      url: "${request.contextPath}/record/jcStart",
      data:id,
        success: function(data) {        
        }
        });
}
function jcstop(){
var id=$("#name").val();
	  $.ajax({
	  type: "POST",
      url: "${request.contextPath}/record/jcStop",
      data:id,
        success: function(data) {
        $("#result").val(data);
        }
        });
}
 
$(function(){
   var id=$("#name").val();
   $("#defaultForm").validate({
	onsubmit:true,// 是否在提交是验证
	onfocusout:false,// 是否在获取焦点时验证
	onkeyup :false,// 是否在敲击键盘时验证
	rules: {
    detectionResult: "required",
     /* xl: "required",
     tw: "required",
     tzbfb: "required",
     sleepTime: "required", */
	   },
	   messages: {
	     detectionResult: "检测结果必填",
	    /*  xl: "心率必填",
	     tw: "体温必填",
	     tzbfb: "体脂百分比必填",
	     sleepTime: "睡眠时间必填" */
	    },
	   //表单验证通过后回调
	   submitHandler: function(){
	   var id=$("#name").val();
	       $.ajax({
                type: "POST",
                url: contextPath+"/record/addRecord",
                data: $("#defaultForm").serialize(),
                async:false,
                success: function(data) {
                 var code = data.status;
                 if(code = "ST"){
                   alert(data.content);                 
                	 $('#app-content').load(contextPath+"/jltz/tojcbg?id="+id);  
                 }
                 else{
                   alert(data.content);
                 }
                },
                error: function() {
                alert("提交失败")
               }
           });
	     }
	   });
})
</script>
<script type="text/javascript">

</script>
</body>
<style>
.app-content{
  /*  background-image:url(../img/famliyTable_bg.png); */
  min-height:799px;
 /*  background-position:center;
  height:100%;
  width:100%; */
}
.error{
	color:#E3170D;
}
.btn-primary{
 height:35px;
 width:120px;
}
</style>
</html>